#login .conteiner {
    max-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}


aside {
    overflow: hidden;
}

aside img {
    width: 100%;
    height: 100%;   
    object-fit: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:64px;
}


main .logo {
    height: 38px;
}

main .logo img {
    width: 100%;
    height: 100%;   
    object-fit: cover;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-header h2 {
    margin-bottom: 12px;
}

.form-conteudo {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.form-conteudo div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.esquece-senha {
    color:var(--cor-primaria-marca);
    font-weight: 600;
    text-decoration: none;
    text-align: right;
    display: inline-block;
}


.copy {
    margin-top: 24px;
}

@media (max-width: 800px) {
    #login .conteiner {
        grid-template-columns: 1fr;    
    }
    aside {
        display: none;
    }
}

@media (max-width: 400px) {
    main {
        gap:32px;
    }

}