:root {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: #ffffff;
    color:#171717;
    
    --primary-color: #E36414;
    --border-input-color: #CBD5E1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

img[src$=".jpg"] {
    border-radius: 4px;
}