.botao {
  width: 100%;
  padding: 4px 8px;
  background-color: var(--cor-primaria-marca);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}


.botao.outline {
  background-color: transparent;
  border: solid 1px var(--cor-borda-padrao);
  color: var(--cor-texto);
  padding: 10px 12px;
}

.botao:hover {
  background-color: #cf6718;
}

.botao.outline:hover {
  background-color: inherit;
}

.botao#adicionar {
  width: 50%;
  padding: 4px 8px;
  background-color: var(--cor-primaria-marca);
  color: black;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
  background-color: #ffffff;
  align-items: rigth;
  height: 38px;
}

.input-padrao {
  width: 100%;
  font-size: 14px;
  padding: 10px 14px;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
}


.select-padrao {
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--bg-color);
  border: 1px solid var(--cor-borda-padrao);
  padding: 10px 14px;
  color: var(--cor-texto);
  cursor: pointer;
  position: relative;
  background-image: var(--arrow-select);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  border-radius: 4px;
  min-height: 41px;
}

.input-padrao#data {
  width: 25%;
  font-size: 14px;
  padding: 10px 14px;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
  height: 38px;
}

.label-padrao {
  color: #475467;
  font-weight: 500;
  font-size: 14px;
  display: block;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.form-group {
  display: flex;
  gap: 24px;
  width: 100%;
}

.header-main {
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #f2f4f7;
  position: sticky;
  z-index: 100;
  background-color: var(--cor-backgroud);
}

.header-main nav {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-main nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
  align-items: center;
}

.header-main nav ul a {
  padding: 8px 18px;
  border-radius: 6px;
  color: var(--cor-text-secundario);
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
  min-width: 100px;
  text-align: center;
}

.header-main nav ul li a:hover,
.header-main nav ul li a.ativo {
  background-color: #f9f5ff;
  color: var(--cor-primaria-marca);
}

.header-main img {
  width: 150px;
}

.descricao-pagina h1 {
  margin-bottom: 4px;
}

.descricao-pagina {
  width: 100%;
  margin-bottom: 24px;
}


.breadcrumb-container {
  width: 100%;
  padding: 6px 10px;
  margin-top: 8px;
  margin-bottom: 20px;
  height: max-content;
  font-size: 14px;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  gap: 6px;
}

.breadcrumb-item {
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.breadcrumb-item:hover {
  background-color: var(--cor-backgroud-hover);
}

.breadcrumb-item a {
  display: flex;
  align-items: center;
}

.breadcrumb-item a svg {
  margin-top: 1px;
}

.breadcrumb-item:has(a.icon-none) {
  padding: 8px;
}




@media (max-width: 560px) {

  .container {
    padding: 0 8px;
  }

  .select-padrao,
  .input-padrao,
  .label-padrao {
    font-size: 12px;
  }

  .header-main nav.container {
    padding: 8px 8px 16px;
    gap: 16px;
    height: auto;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }



  .input-padrao {
    padding: 12px;
  }

  .botao {
    padding: 12px;
  }

  .form-group {
    flex-direction: column;
  }

  .breadcrumb-container {
    padding-left: 0;
  }
}