:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  --cor-primaria-marca: #ff6b00;
  --cor-backgroud: #ffffff;
  --cor-backgroud-hover: #f9f5ff;

  --cor-borda-padrao: #D0D5DD;
  --cor-error: #f04438;
  --cor-titulo: #101828;
  --cor-texto: #475467;
  --cor-text-secundario: #344054;
  --arrow-select: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  accent-color: var(--cor-primaria-marca);
  outline-color: var(--cor-primaria-marca);
  scrollbar-width: thin;
  scrollbar-color: var(--cor-borda-padrao) transparent;
}

html,
body {
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
}

body {
  background-color: var(--cor-backgroud);
  color: var(--cor-titulo);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

select,
input,
label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--cor-texto);
}

a {
  color: var(--cor-texto);
  text-decoration: none;
}

svg {
  width: 18px;
  height: 18px;
}

ul {
  list-style: none;
}

.container {
  max-width: 1280px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}

main.container {
  padding-bottom: 64px;
}

.titulo-principal {
  color: var(--cor-titulo);
  font-size: 24px;
}

.text-principal-grande {
  font-size: 28px;
  font-weight: 600;
}

.titulo-secundario {
  font-size: 18px;
  color: var(--cor-text-secundario);
  font-weight: 500;
  margin-bottom: 10px;
}


.texto-normal {
  color: var(--cor-texto);
  font-size: 16px;
}

.texto-pequeno {
  color: var(--cor-texto);
  font-size: 14px;
}

.img-logo {
  min-width: 112px;
  min-height: 18px;
}

@media (max-width: 400px) {
  .titulo-principal {
    font-size: 18px;
  }

  .texto-normal {
    font-size: 14px;
  }

  .texto-pequeno {
    font-size: 10px;
  }
}